### Importing relevant libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3

### creating targets

In [4]:
absent_median = data_preprocessed['Absenteeism Time in Hours'].median()

In [5]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > absent_median, 1, 0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
data_preprocessed['Excessive Absenteeism'] = targets

In [8]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week,Excessive Absenteeism
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2,0
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3,1
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3,0

### analysing targets

In [9]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [10]:
data_with_targets = data_preprocessed.drop(['Excessive Absenteeism'], axis=1)
data_with_targets = data_with_targets.drop(['Date'], axis=1)

In [11]:
data_with_targets is data_preprocessed

False

In [12]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,2,7,3

### selecting inputs for the regression

In [13]:
data_with_targets.shape

(700, 15)

In [14]:
data_with_targets.iloc[:,:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7
1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7
2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7
3,1,0,0,0,279,5,39,239.554,24,0,2,0,4,7
4,0,0,0,1,289,36,33,239.554,30,0,2,1,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,1,2,0,8,5
696,1,0,0,0,225,26,28,237.656,24,0,1,2,3,5
697,1,0,0,0,330,16,28,237.656,25,1,0,0,8,5
698,0,0,0,1,235,16,32,237.656,25,1,0,0,2,5
699,0,0,0,1,291,31,40,237.656,25,0,1,1,2,5

In [15]:
data_with_targets.iloc[:,:-3]

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0
2,0,0,0,1,179,51,38,239.554,31,0,0,0
3,1,0,0,0,279,5,39,239.554,24,0,2,0
4,0,0,0,1,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,1,2,0
696,1,0,0,0,225,26,28,237.656,24,0,1,2
697,1,0,0,0,330,16,28,237.656,25,1,0,0
698,0,0,0,1,235,16,32,237.656,25,1,0,0
699,0,0,0,1,291,31,40,237.656,25,0,1,1

In [16]:
#unscaled_inputs = data_with_targets.iloc[:,:-3]
unscaled_inputs = data_with_targets.drop(['Absenteeism Time in Hours'], axis=1)

In [17]:
unscaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,3

### standardizing the data

In [34]:
#from sklearn.preprocessing import StandardScaler

#absenteeism_scaler = StandardScaler()

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

# create the Custom Scaler class

class CustomScaler(BaseEstimator,TransformerMixin):   

    # init or what information we need to declare a CustomScaler object
    # and what is calculated/declared as we do

    def __init__(self,columns):   
        # scaler is nothing but a Standard Scaler object
        self.scaler = StandardScaler()
        # with some columns 'twist'
        self.columns = columns     


    # the fit method, which, again based on StandardScale
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self

    # the transform method which does the actual scaling
    def transform(self, X, y=None):
        # record the initial order of the columns
        init_col_order = X.columns        
        # scale all features that you chose when creating the instance of the class
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
         # declare a variable containing all information that was not scaled
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        # return a data frame which contains all scaled features and all 'not scaled' features
        # use the original order (that you recorded in the beginning)
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [35]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Month Value', 'Day of the Week'], dtype=object)

In [36]:
columns_to_scale = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Month Value', 'Day of the Week']

In [37]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [38]:
absenteeism_scaler.fit(unscaled_inputs)

C:\Users\luiss\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3462: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

CustomScaler(columns=['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
                      'Transportation Expense', 'Distance to Work', 'Age',
                      'Daily Work Load Average', 'Body Mass Index', 'Education',
                      'Children', 'Pets', 'Month Value', 'Day of the Week'])

In [39]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

#### spliting the data into train & test and shuffle

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Transportation Expense  \
 105 -0.577350 -0.092981 -0.314485  0.821365                2.092381
 662 -0.577350 -0.092981 -0.314485  0.821365               -1.574681
 443 -0.577350 -0.092981 -0.314485  0.821365               -1.574681
 146 -0.577350 -0.092981 -0.314485  0.821365                0.040034
 586 -0.577350 -0.092981 -0.314485  0.821365                0.040034
 ..        ...       ...       ...       ...                     ...
 17  -0.577350 -0.092981  3.179797 -1.217485               -0.654143
 695  1.732051 -0.092981 -0.314485 -1.217485               -0.654143
 314  1.732051 -0.092981 -0.314485 -1.217485               -0.654143
 180  1.732051 -0.092981 -0.314485 -1.217485                0.854936
 395 -0.577350 -0.092981 -0.314485  0.821365                0.190942

      Distance to Work       Age  Daily Work Load Average  Body Mass Index  \
 105          1.494345 -1.320435                -0.262439         0.061825
 662         -1.141882  2.130803                -0.637953         1.002633
 443         -1.344669  0.091435                -0.446195         0.297027
 146         -0.263140 -1.320435                 0.769711        -0.643782
 586         -0.263140 -1.320435                -0.188851        -0.643782
 ..                ...       ...                      ...              ...
 17           1.426749  0.248310                -0.806331         1.002633
 695         -0.533522  0.562059                -0.853789        -1.114186
 314         -0.263140 -1.006686                -0.169648        -1.819793
 180         -1.682647  0.405184                 1.786584        -0.643782
 395         -1.277074  0.091435                -0.685486         0.532229

      Education  Children      Pets  Month Value  Day of the Week
 105  -0.447980 -0.019280  2.843016     1.610276        -0.007725
 662  -0.447980 -0.019280 -0.589690    -0.673803        -0.683704
 443  -0.447980 -0.919030 -0.589690    -0.102784        -0.683704
 146  -0.447980 -0.019280  1.126663    -1.244823        -1.359682
 586  -0.447980 -0.019280  1.126663    -1.244823        -0.683704
 ..         ...       ...       ...          ...              ...
 17   -0.447980 -0.919030 -0.589690     0.182726        -1.359682
 695   2.232242  0.880469 -0.589690    -0.388293        -0.007725
 314   2.232242 -0.919030 -0.589690     1.039256         1.344231
 180  -0.447980  0.880469 -0.589690    -0.959313         0.668253
 395   2.232242 -0.019280  0.268487    -0.959313        -1.359682

 [525 rows x 14 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Transportation Expense  \
 524  1.732051 -0.092981 -0.314485 -1.217485                0.040034
 34  -0.577350 -0.092981 -0.314485  0.821365               -0.654143
 331  1.732051 -0.092981 -0.314485 -1.217485                1.036026
 254 -0.577350 -0.092981 -0.314485  0.821365                1.005844
 564 -0.577350 -0.092981  3.179797 -1.217485                0.160760
 ..        ...       ...       ...       ...                     ...
 193 -0.577350 -0.092981 -0.314485  0.821365                1.036026
 284 -0.577350 -0.092981 -0.314485  0.821365               -1.574681
 696  1.732051 -0.092981 -0.314485 -1.217485                0.040034
 110 -0.577350 -0.092981 -0.314485  0.821365               -1.574681
 389 -0.577350 -0.092981 -0.314485  0.821365               -0.654143

      Distance to Work       Age  Daily Work Load Average  Body Mass Index  \
 524         -0.263140 -1.320435                 0.326336        -0.643782
 34           1.426749  0.248310                -1.647399         1.002633
 331          0.074838  0.562059                 0.305783        -0.408580
 254          0.412816 -0.536062                -0.154696         0.767431
 564          1.426749 -0.849811                 0.218718        -1.349389
 ..                ...       ...                      ...              ...
 193          0.074838  0.562059                 1.366488        -0.408580
 284         -1.141882  2.130803                 0.560476         1.002633
 696         -0.263140 -1.320435                -0.853789        -0.643782
 110         -1.344669  0.091435                -0.262439         0.297027
 389          1.426749  0.248310                -0.499679         1.002633

      Education  Children      Pets  Month Value  Day of the Week
 524  -0.447980 -0.019280  1.126663     1.039256         0.668253
 34   -0.447980 -0.919030 -0.589690     0.468236        -1.359682
 331  -0.447980 -0.019280  0.268487     1.324766         1.344231
 254  -0.447980  0.880469  0.268487     0.468236         2.696187
 564   2.232242 -0.019280  6.275721     1.610276        -1.359682
 ..         ...       ...       ...          ...              ...
 193  -0.447980 -0.019280  0.268487    -0.673803         1.344231
 284  -0.447980 -0.019280 -0.589690     0.753746         0.668253
 696  -0.447980 -0.019280  1.126663    -0.388293        -0.007725
 110  -0.447980 -0.919030 -0.589690     1.610276         1.344231
 389  -0.447980 -0.919030 -0.589690    -1.244823         1.344231

 [175 rows x 14 columns],
 array([1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
        1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1,
        0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
        1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
        1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
        0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
        0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1,
        1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
        1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
        1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
        1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1,
        0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
        0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1]),
 array([0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
        1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
        0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
        1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0])]

In [42]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size=0.8, random_state = 20)

In [43]:
print(x_train.shape, y_train.shape)

(560, 14) (560,)

In [44]:
print(x_test.shape, y_test.shape)

(140, 14) (140,)

#### Logistic regression with sklearn

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [46]:
reg = LogisticRegression()

In [47]:
reg.fit(x_train,y_train)

LogisticRegression()

In [48]:
reg.score(x_train, y_train)

0.7839285714285714

#### manually checking the accuracy

In [49]:
model_outputs = reg.predict(x_train)

In [50]:
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [51]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [52]:
np.sum((model_outputs == y_train))

439

In [53]:
model_outputs.shape[0]

560

In [54]:
np.sum((model_outputs==y_train)) / model_outputs.shape[0]

0.7839285714285714

### finding the intercept and coefficients

In [55]:
reg.intercept_

array([-0.22206736])

In [56]:
reg.coef_

array([[ 2.07601767,  0.33504757,  1.56162303,  1.32927434,  0.70639316,
        -0.03986811, -0.20089491, -0.00456366,  0.31933564, -0.135508  ,
         0.38172443, -0.3332426 ,  0.18793677, -0.07062253]])

In [57]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Month Value', 'Day of the Week'], dtype=object)

In [58]:
feature_name = unscaled_inputs.columns.values

In [59]:
summary_table = pd.DataFrame(columns=['Feature name'], data=feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

               Feature name  Coefficient
0                  Reason_1     2.076018
1                  Reason_2     0.335048
2                  Reason_3     1.561623
3                  Reason_4     1.329274
4    Transportation Expense     0.706393
5          Distance to Work    -0.039868
6                       Age    -0.200895
7   Daily Work Load Average    -0.004564
8           Body Mass Index     0.319336
9                 Education    -0.135508
10                 Children     0.381724
11                     Pets    -0.333243
12              Month Value     0.187937
13          Day of the Week    -0.070623

In [60]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -0.222067
1                  Reason_1     2.076018
2                  Reason_2     0.335048
3                  Reason_3     1.561623
4                  Reason_4     1.329274
5    Transportation Expense     0.706393
6          Distance to Work    -0.039868
7                       Age    -0.200895
8   Daily Work Load Average    -0.004564
9           Body Mass Index     0.319336
10                Education    -0.135508
11                 Children     0.381724
12                     Pets    -0.333243
13              Month Value     0.187937
14          Day of the Week    -0.070623

#### interpreting the coefficients

In [61]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table

               Feature name  Coefficient  Odds_ratio
0                 Intercept    -0.222067    0.800861
1                  Reason_1     2.076018    7.972656
2                  Reason_2     0.335048    1.398007
3                  Reason_3     1.561623    4.766551
4                  Reason_4     1.329274    3.778301
5    Transportation Expense     0.706393    2.026668
6          Distance to Work    -0.039868    0.960916
7                       Age    -0.200895    0.817998
8   Daily Work Load Average    -0.004564    0.995447
9           Body Mass Index     0.319336    1.376213
10                Education    -0.135508    0.873272
11                 Children     0.381724    1.464808
12                     Pets    -0.333243    0.716596
13              Month Value     0.187937    1.206757
14          Day of the Week    -0.070623    0.931814

In [62]:
summary_table.sort_values('Odds_ratio', ascending=False)

               Feature name  Coefficient  Odds_ratio
1                  Reason_1     2.076018    7.972656
3                  Reason_3     1.561623    4.766551
4                  Reason_4     1.329274    3.778301
5    Transportation Expense     0.706393    2.026668
11                 Children     0.381724    1.464808
2                  Reason_2     0.335048    1.398007
9           Body Mass Index     0.319336    1.376213
13              Month Value     0.187937    1.206757
8   Daily Work Load Average    -0.004564    0.995447
6          Distance to Work    -0.039868    0.960916
14          Day of the Week    -0.070623    0.931814
10                Education    -0.135508    0.873272
7                       Age    -0.200895    0.817998
0                 Intercept    -0.222067    0.800861
12                     Pets    -0.333243    0.716596

### testing model

In [63]:
reg.score(x_test, y_test)

0.7357142857142858

In [65]:
predicted_poba = reg.predict_proba(x_test)

In [66]:
predicted_poba

array([[0.73864865, 0.26135135],
       [0.58845661, 0.41154339],
       [0.36763564, 0.63236436],
       [0.81198089, 0.18801911],
       [0.0613996 , 0.9386004 ],
       [0.30742403, 0.69257597],
       [0.29538175, 0.70461825],
       [0.08106026, 0.91893974],
       [0.80435611, 0.19564389],
       [0.76038732, 0.23961268],
       [0.46271934, 0.53728066],
       [0.15484755, 0.84515245],
       [0.04619732, 0.95380268],
       [0.72991038, 0.27008962],
       [0.23140393, 0.76859607],
       [0.55130442, 0.44869558],
       [0.5292476 , 0.4707524 ],
       [0.55522744, 0.44477256],
       [0.38197963, 0.61802037],
       [0.02527634, 0.97472366],
       [0.69617984, 0.30382016],
       [0.80458387, 0.19541613],
       [0.37734902, 0.62265098],
       [0.40003074, 0.59996926],
       [0.18229161, 0.81770839],
       [0.76011784, 0.23988216],
       [0.47050402, 0.52949598],
       [0.88997625, 0.11002375],
       [0.13577639, 0.86422361],
       [0.7969686 , 0.2030314 ],
       [0.61545173, 0.38454827],
       [0.29540849, 0.70459151],
       [0.29861822, 0.70138178],
       [0.43636107, 0.56363893],
       [0.80458387, 0.19541613],
       [0.45743759, 0.54256241],
       [0.79495044, 0.20504956],
       [0.17927677, 0.82072323],
       [0.55533981, 0.44466019],
       [0.38891781, 0.61108219],
       [0.79091218, 0.20908782],
       [0.59718847, 0.40281153],
       [0.78626379, 0.21373621],
       [0.90155909, 0.09844091],
       [0.15775504, 0.84224496],
       [0.33387011, 0.66612989],
       [0.28327069, 0.71672931],
       [0.73017956, 0.26982044],
       [0.79844264, 0.20155736],
       [0.82929957, 0.17070043],
       [0.4266055 , 0.5733945 ],
       [0.91701038, 0.08298962],
       [0.32068258, 0.67931742],
       [0.71369671, 0.28630329],
       [0.12746591, 0.87253409],
       [0.51453431, 0.48546569],
       [0.0674669 , 0.9325331 ],
       [0.7537751 , 0.2462249 ],
       [0.91830328, 0.08169672],
       [0.91760659, 0.08239341],
       [0.27204448, 0.72795552],
       [0.3304846 , 0.6695154 ],
       [0.68798136, 0.31201864],
       [0.13973706, 0.86026294],
       [0.8161173 , 0.1838827 ],
       [0.7403345 , 0.2596655 ],
       [0.9868338 , 0.0131662 ],
       [0.77970087, 0.22029913],
       [0.1876351 , 0.8123649 ],
       [0.68546135, 0.31453865],
       [0.79566259, 0.20433741],
       [0.92871986, 0.07128014],
       [0.06674077, 0.93325923],
       [0.53680529, 0.46319471],
       [0.34482822, 0.65517178],
       [0.7969686 , 0.2030314 ],
       [0.14871293, 0.85128707],
       [0.28022733, 0.71977267],
       [0.21027431, 0.78972569],
       [0.30962571, 0.69037429],
       [0.75845751, 0.24154249],
       [0.98786963, 0.01213037],
       [0.78013291, 0.21986709],
       [0.23875535, 0.76124465],
       [0.56495539, 0.43504461],
       [0.90095328, 0.09904672],
       [0.28305419, 0.71694581],
       [0.4111126 , 0.5888874 ],
       [0.9508767 , 0.0491233 ],
       [0.30544114, 0.69455886],
       [0.86512466, 0.13487534],
       [0.87785212, 0.12214788],
       [0.78847559, 0.21152441],
       [0.72202798, 0.27797202],
       [0.7773488 , 0.2226512 ],
       [0.10736118, 0.89263882],
       [0.72743745, 0.27256255],
       [0.19062097, 0.80937903],
       [0.77148365, 0.22851635],
       [0.80086491, 0.19913509],
       [0.33158859, 0.66841141],
       [0.28556989, 0.71443011],
       [0.26961577, 0.73038423],
       [0.27672965, 0.72327035],
       [0.51458792, 0.48541208],
       [0.46364011, 0.53635989],
       [0.74879857, 0.25120143],
       [0.12187794, 0.87812206],
       [0.20095775, 0.79904225],
       [0.85670113, 0.14329887],
       [0.98908819, 0.01091181],
       [0.07567792, 0.92432208],
       [0.26259581, 0.73740419],
       [0.64224866, 0.35775134],
       [0.42437799, 0.57562201],
       [0.39738903, 0.60261097],
       [0.13024216, 0.86975784],
       [0.16722385, 0.83277615],
       [0.46572923, 0.53427077],
       [0.69383587, 0.30616413],
       [0.76723907, 0.23276093],
       [0.85612112, 0.14387888],
       [0.1284117 , 0.8715883 ],
       [0.56231091, 0.43768909],
       [0.7969686 , 0.2030314 ],
       [0.62489141, 0.37510859],
       [0.8136116 , 0.1863884 ],
       [0.89309299, 0.10690701],
       [0.23385734, 0.76614266],
       [0.68505831, 0.31494169],
       [0.33285298, 0.66714702],
       [0.80604176, 0.19395824],
       [0.6879822 , 0.3120178 ],
       [0.65781679, 0.34218321],
       [0.71446029, 0.28553971],
       [0.45907711, 0.54092289],
       [0.5396467 , 0.4603533 ],
       [0.70364311, 0.29635689],
       [0.74526002, 0.25473998],
       [0.53622983, 0.46377017]])

In [67]:
predicted_poba[:,1]

array([0.26135135, 0.41154339, 0.63236436, 0.18801911, 0.9386004 ,
       0.69257597, 0.70461825, 0.91893974, 0.19564389, 0.23961268,
       0.53728066, 0.84515245, 0.95380268, 0.27008962, 0.76859607,
       0.44869558, 0.4707524 , 0.44477256, 0.61802037, 0.97472366,
       0.30382016, 0.19541613, 0.62265098, 0.59996926, 0.81770839,
       0.23988216, 0.52949598, 0.11002375, 0.86422361, 0.2030314 ,
       0.38454827, 0.70459151, 0.70138178, 0.56363893, 0.19541613,
       0.54256241, 0.20504956, 0.82072323, 0.44466019, 0.61108219,
       0.20908782, 0.40281153, 0.21373621, 0.09844091, 0.84224496,
       0.66612989, 0.71672931, 0.26982044, 0.20155736, 0.17070043,
       0.5733945 , 0.08298962, 0.67931742, 0.28630329, 0.87253409,
       0.48546569, 0.9325331 , 0.2462249 , 0.08169672, 0.08239341,
       0.72795552, 0.6695154 , 0.31201864, 0.86026294, 0.1838827 ,
       0.2596655 , 0.0131662 , 0.22029913, 0.8123649 , 0.31453865,
       0.20433741, 0.07128014, 0.93325923, 0.46319471, 0.65517178,
       0.2030314 , 0.85128707, 0.71977267, 0.78972569, 0.69037429,
       0.24154249, 0.01213037, 0.21986709, 0.76124465, 0.43504461,
       0.09904672, 0.71694581, 0.5888874 , 0.0491233 , 0.69455886,
       0.13487534, 0.12214788, 0.21152441, 0.27797202, 0.2226512 ,
       0.89263882, 0.27256255, 0.80937903, 0.22851635, 0.19913509,
       0.66841141, 0.71443011, 0.73038423, 0.72327035, 0.48541208,
       0.53635989, 0.25120143, 0.87812206, 0.79904225, 0.14329887,
       0.01091181, 0.92432208, 0.73740419, 0.35775134, 0.57562201,
       0.60261097, 0.86975784, 0.83277615, 0.53427077, 0.30616413,
       0.23276093, 0.14387888, 0.8715883 , 0.43768909, 0.2030314 ,
       0.37510859, 0.1863884 , 0.10690701, 0.76614266, 0.31494169,
       0.66714702, 0.19395824, 0.3120178 , 0.34218321, 0.28553971,
       0.54092289, 0.4603533 , 0.29635689, 0.25473998, 0.46377017])

### save model

In [68]:
import pickle

In [69]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [71]:
with open('scaler', 'wb') as file:
    pickle.dump(absenteeism_scaler, file)